<ion-view title="Select Location 2" >
    <ion-content class="has-header padding">
        <div class="list">
            <a class="item ion-chevron-right iconLeft rounddiv" href="#">
                <span> Language</span>
                <span class="itemValue"> English</span>
            </a>
        </div>

        <div class="list">
            <a class="item ion-chevron-right iconLeft roundItem" href="#">
                <span>Customer</span>
                <span class="itemValue">CustomerVal</span>
            </a>

            <a class="item ion-chevron-right iconLeft roundItem" href=" #">
                <span>Group</span>
                <span class="itemValue">GroupVal</span>

            </a>
            <a class="item ion-chevron-right iconLeft roundItem" href="#">
                <span>Member</span>
                <span class="itemValue">MemberVal</span>

            </a>
        </div>
        <button class="button button-block button-energized item-input roundButton" style="margin-top:50px;">
            NEXT
        </button>
    </ion-content>
</ion-view>