<ion-view title="Select Location 2">
    <ion-content class="has-header padding">

        <div class="circle" style="background-image:
       url('https://scontent-a.xx.fbcdn.net/hphotos-xaf1/t1.0-9/10320430_10152107087289071_4026137776881157645_n.jpg')">
        </div>


        <div class="list">
            <div class="item textCenter bgTransparent">
                <h1>Roberta Mitchell</h1>
                <b>Store Manager</b>
            </div>
        </div>

        <div class="list">
            <label class="item item-input listContactEdit">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input listContactEdit">
                <span class="input-label">Username</span>
                <input type="text">
            </label>

            <label class="item item-input listContactEdit">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input listContactEdit">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input listContactEdit">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>

    </ion-content>
</ion-view>