<ion-view title="" hide-nav-bar="true">
    <ion-content class="has-header padding">
        <div class="list">
            <label class="item item-input bgTransparent">
                <input type="text" placeholder="E-Mail" class="roundTxt">
            </label>
            <label class="item item-input bgTransparent">
                <input type="password" placeholder="Password" class="roundTxt">
            </label>
           
        </div>
        <button class="button button-block button-energized roundButton" ng-click="doLogin()">
            SIGN IN
        </button>
        <!--<label class="toggle">
            <input type="checkbox">
            <div class="track yellow">
                <div class="pull-left handleOn">ON</div>
                <div class="pull-right handleOf" >Off</div>
                <div class="handle handleYellow"></div>
            </div>
        </label>-->
        
       </ion-content>
</ion-view>

