<ion-view title="Address" hide-nav-bar="false">
    <ion-content class="has-header ">

        <div class="row itemdays">
            <a class="col col-10" >
            <i class="ion-play coltext"></i></a>
            <div class="col col-50" >
                <span style="font-size:16px;color:white;" class=" title-left">Alert Mode (12 of 12)</span>
            </div>
            <div class="col" style="text-align:right;">
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track yellow">
                        <div class="handleOn">ON</div>
                        <div class="handleOf">Off</div>
                        <div class="handle handleYellow"></div>
                    </div>
                </label>
            </div>
        </div>

        <div  class="photo">
            <img src="../img/test.jpg" class="circle" />

        </div>

        <div class="item item-divider">
            Visit Address
        </div>

        <div class="row itemDays">
            <div class="col"><textarea>Visit Address Visit Address Visit Address Visit Address Visit Address Visit Address Visit Address Visit Address</textarea></div>
            <div class="col col-10" style="float:right"><i class="ion-edit"></i></div>
        </div>

        <div class="item item-divider">
            Invoice Address
        </div>
        <div class="itemDays row">
            <div class="col"><textarea>Invoice Address Invoice Address Invoice Address Invoice Address Invoice Address Invoice Address Invoice Address Invoice Address</textarea></div>
            <div class="col col-10" style="float:right"><i class="ion-edit"></i></div>
        </div>

        <!--<ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="list" ng-show="!allDay">



                    <a class="item ion-chevron-right iconLeft itemDays" href="#/tab/customers">
                        <span>Monday</span>
                        <span class="itemValue">07:00-08:00</span>

                    </a>
                    <a class="item ion-chevron-right iconLeft itemDays" href="#">
                        <span>Tuesday</span>
                        <span class="itemValue">07:00-08:00</span>

                    </a>
                    <a class="item ion-chevron-right iconLeft itemDays" href="#">
                        <span>Wednessday</span>
                        <span class="itemValue">07:00-08:00</span>
                    </a>

                    <a class="item ion-chevron-right iconLeft itemDays" href=" #">
                        <span>Thursday</span>
                        <span class="itemValue">07:00-08:00</span>

                    </a>
                    <a class="item ion-chevron-right iconLeft itemDays" href="#">
                        <span>Friday</span>
                        <span class="itemValue">07:00-08:00</span>
                    </a>
                    <a class="item ion-chevron-right iconLeft itemDays" href="#">
                        <span>Saturday</span>
                        <span class="itemValue">07:00-08:00</span>
                    </a>
                    <a class="item ion-chevron-right iconLeft itemDays" href="#">
                        <span>Sunday</span>
                        <span class="itemValue">07:00-08:00</span>
                    </a>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><h1>YELLOW</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><h1>PINK</h1></div>
            </ion-slide>
        </ion-slide-box>-->

    </ion-content>
</ion-view>
