
<ion-view >
    <ion-header-bar align-title="left" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
        <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back yellow button back-button">
            Back
        </ion-nav-back-button>
        <h1 class="title">Contact Details</h1>
        <div class="buttons">
            <button class="button">Right Button</button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <ion-pane>
            <div class="circle" style="background-image:
       url('https://scontent-a.xx.fbcdn.net/hphotos-xaf1/t1.0-9/10320430_10152107087289071_4026137776881157645_n.jpg')">
            </div>

        </ion-pane>
        <ion-pane>
            <div class="list">
                <div class="item textCenter bgTransparent">
                    <h1>Roberta Mitchell</h1>
                    <b>Store Manager</b>
                </div>
            </div>
        </ion-pane>
        <div class="list ">

            <a class="item item-icon-left listContact " href="#">
                <i class="icon ion-ios7-location"></i>
                Check mail
            </a>

            <a class="item item-icon-left  listContact " href="#">
                <i class="icon ion-ios7-telephone"></i>
                Call Ma
            </a>

            <a class="item item-icon-left listContact " href="#">
                <i class="icon ion-email"></i>
                Record album
                
            </a>

            <a class="item item-icon-left listContact " href="#">
                <i class="icon ion-person"></i>
                Friends
            </a>

        </div>
    </ion-content>
</ion-view>
